language: node_js
node_js:
  - '14'
  - '15'
script:
  - npm run lint
  - npm run build
  - npm run test:coverage
  - npm run test:coveralls

jobs:
  include:
    - stage: release
      if: branch = master
      script: npx semantic-release
